
.social_login{
    text-align: center;
}
.social_log{
    list-style: none;
    display:flex;
    padding: 0;
    justify-content: center;
}
.social_log li{
    margin: 0 5px;
}

.social_log li img{
    width: 45px;
}
.signin_modal .nav-tabs .nav-link{
    background-color: #e5e5e5;
    border-radius: 0;
}
.signin_modal.nav-tabs .nav-link.active{
    background-color: #fff;
}
.signin_modal .nav-tabs .nav-items{
    width: 50%;
    margin-bottom: 1rem;
}
.signin_modal .nav-tabs{
    border-bottom: none;
}
.signin_tab{
    padding: 0 3em;
}
.signin_tab input.form-control{
    font-size: 12px;
    color: #8c8c8c;
    height: 40px;
}
.signin_link{
    text-align: center;
    color: #8c8c8c;
    margin-top: 0.5rem;
}





#para1{
    margin-top: 10px;
}
#para2{
    margin-bottom: 10px;
}